:root{
    --red-500: #ff2020;
}
.container{
    width: 90%;
    height: 100%;
    margin: 0px auto;
}
.btn{
    display: inline-block;
    padding: 16px 24px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #4a4a4b;
    color: white;
    border-radius: 1px;
    position: relative;
    z-index: 1;
}
.btn::before,
.btn-red::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--red-500);
    transition-duration: 0.5s;
    z-index: -1;
    transition-timing-function:cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn-red::before{
    background-color: #4a4a4b;
}
.btn:hover::before{
    width: 100%;
}
.btn-red{
    background-color: var(--red-500);
}
@media screen and (max-width:1200px) {
    .container {
        width: 80%;
    }
}
@media screen and (max-width:576px) {
    .container {
        width: 90%;
    }
}
