@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

body{
    
    font-family: 'Josefin Sans', sans-serif;
}

/* ------------HEADER--------------*/

header{
    background-color: white;
}
header .head-inner{
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navbar {
    display: flex;

}
header .navbar a{
    font-weight: 600;
}

header .navbar > li {
    position: relative;
    padding: 44px 28px;
}
header .navbar .status{
    display: inline-block;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: #ff003c;
    font-size: 10px;
    color: white;
    font-weight: 500;
    left: 68px;
    position: absolute;
    top: 20px;
}
header .navbar .dropdown{
    visibility: hidden;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    row-gap: 12px;
    position: absolute;
    top: 90%;
    left: 0px;
    background-color: white;
    border-top: 3px solid  var(--red-500);
    border-radius: 5px 5px 4px 4px;
    opacity: 0;
    transition: 0.3s;
}
header .navbar .sub-li:hover .dropdown{
visibility: visible;
opacity: 1;
top: 100%;
}
header .navbar .dropdown::before{
    content: "";
    position: absolute;
    top: 0px;
    border: 5px solid transparent;
    border-bottom-color: var(--red-500);
    transform: translateY(calc(-100% - 2px))
}
header .header-right{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
header .header-right .icons{
    display: flex;
    column-gap: 24px;
}
header .header-right .hamburger{
    display: none;
}
header .header-right .icons a:hover,
header .navbar a:hover{
    color: var(--red-500);
}

/* --------------END OF HEADER----------*/

/*---------------BANNER---------------*/

#banner{
    height: 100vh;
    background-color: #f0f0f2;;
}
.banner-row{
    display: flex;
    align-items: center;
}
.banner-row img{
    height: 100%;
}
.banner-text h1{
    font-size: 96px;
    color: #0b1c39;
}
.banner-text p{
    font-size: 17px;
    color: #212529;
    margin: 50px 0px;
    line-height: 130%;
}
@media screen and (max-width: 1200px) {
    header{
        padding: 20px 0px;
        position: relative;
    }
header nav{
    width: 95%;
    position: absolute;
    top: 100%;
    background-color: white;
    left: 30px;
padding: 16px 20px;

}
header .navbar{
    flex-direction: column;
}
header .navbar .status {
    display: none;
}
header .navbar > li {
    padding: 10px 0px;
}
header .navbar .sub-li:hover .dropdown {
    display: flex;
}
header .navbar .sub-li::after { 
    content: "+";
    position: absolute;
    right: 20px;
    top: 10px;
}
header .navbar .sub-li:hover::after {
    content: "-";
}

header .navbar .dropdown {
    position: relative;
    visibility: visible;
    display: none;
    border: none;
padding-bottom: 0px;
}
header .navbar .dropdown::before {
    display: none;
}
header .header-right .hamburger {
    display: inline-block;
    font-size: 24px;
    color: var(--red-500);
}
}
    @media screen and (max-width: 576px) {
        
    }
