@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

body{
    background-color: #f8f9fa;
    font-family: 'Josefin Sans', sans-serif;
}

/* ------------HEADER--------------*/

header{
    background-color: white;
}
header .head-inner{
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navbar {
    display: flex;

}
header .navbar a{
    font-weight: 600;
}

header .navbar > li {
    position: relative;
    padding: 44px 28px;
}
header .navbar .status{
    display: inline-block;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: #ff003c;
    font-size: 10px;
    color: white;
    font-weight: 500;
    left: 68px;
    position: absolute;
    top: 20px;
}
header .navbar .dropdown{
    visibility: hidden;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    row-gap: 12px;
    position: absolute;
    top: 90%;
    left: 0px;
    background-color: white;
    border-top: 3px solid  var(--red-500);
    border-radius: 5px 5px 4px 4px;
    opacity: 0;
    transition: 0.3s;
}
header .navbar .sub-li:hover .dropdown{
visibility: visible;
opacity: 1;
top: 100%;
}
header .navbar .dropdown::before{
    content: "";
    position: absolute;
    top: 0px;
    border: 5px solid transparent;
    border-bottom-color: var(--red-500);
    transform: translateY(calc(-100% - 2px))
}
header .header-right{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
header .header-right .icons{
    display: flex;
    column-gap: 24px;
}
header .header-right .hamburger{
    display: none;
}
header .header-right .icons a:hover,
header .navbar a:hover{
    color: var(--red-500);
}

/* --------------END OF HEADER----------*/

/*---------------BANNER---------------*/

#banner{
    width: 100%;
    height: calc(100vh + 424px);
    background-color: #f0f0f2;;
}
.banner-row{
    display: flex;
    align-items: center;
    position: relative;
}
.banner-row img{
    position: absolute;
    width: 365px;
    height: 100%;
    right: 0px;
}
.banner-text h1{
    white-space: nowrap;
    font-size: 96px;
    color: #0b1c39;
}
.banner-text p{
    font-size: 17px;
    color: #212529;
    margin: 50px 0px;
    line-height: 130%;
}

/*---------------END OF BANNER-------------------*/


/*---------------NEW ARRIVALS--------------------*/
.new-arrivals{
    width: 100%;
    height: calc(100vh + 424px);
    background-color: white;
    padding: 200px 0px;
}
.new-arrivals h2{
    font-size: 48px;
}
.articles {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.new-arrivals-img {
    overflow: hidden;
}
.new-arrivals-item:hover img{
transform: scale(1.05);
transition: 1s linear;

}
.new-arrivals-item {
    transform: scale(1);
    transition: 1s linear;
}

.text {
    text-align: center;
}
.articles h3 {
    font-size: 24px;
    color: #444444;
    padding: 35px 0px 20px;
    text-align: center;

}
.articles p {
    display: inline-block;
    color: #ff003c;
    text-align: center;
    font-weight: 500;
}
.gallery {
    width: 100%;
    position: relative;
    display: flex;
}
.gallery img {
    transform: scale(1);
    transition: 1s;
    position: relative;
}
.gallery img::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color:rgba(1,10,28,0.3);
    visibility: visible;
    z-index: 5;
}
.images {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.images:hover img {
    transform: scale(0.9);
}
.images:hover::before {
    visibility: visible;
}
.img1 {
    width: 616px;
    height: 690px;
}
.img2 {
    box-sizing: border-box;
width: 390px;
height: 690px;
padding: 0px 30px;
}
.img3,
.img4 {
    width: 100%;
    height: 330px;
}
.gallery-left{
    display: flex;
}
.gallery-right{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.section-header {
    width: 100%;
    text-align: center;
    padding-top: 250px;

}
.section-header h2 {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}
.section-header p{
    font-family: "Roboto",sans-serif;
    color: #777;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}
.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}
.image {
    position: relative;
}
.image i {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 36px;
    visibility: hidden;
    opacity: 0.5;
    transition: 1s opacity;
}
.cart {
    position: absolute;
    bottom: 0px;
    color: white;
    background-color: #ff003c;
    width: 98%;
    text-align: center;
    height: 5px;
    transition: 1s;
}
.cart p {
    visibility: hidden;
    padding-top: 20px;
}
.articles article:hover .cart{
    height: 60px;
}
.articles article:hover .image i {
    visibility: visible;
    opacity: 1;
}
.articles article:hover .cart p {
    visibility: visible;
    color: white;
    text-align: center;
}
.articles article {
    width: calc(100% / 3 - 10px);
}
.articles article h3 a {
    color: #444444;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
}
.articles article span {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    display: block;
    text-align: center;
}
.popular-items-btn {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video {
    position: relative;
}
.video .background {
    width: 100%;
    height: 100vh;
}
.background::after {
    height: 100%;
    width: 100%;
    background-color:rgba(1,10,28,0.3);
    visibility: visible;
    z-index: 5;
}
.video .next-video {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.next-video span {
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 20%;
}
.next-video a {
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: 500;
    top: 48%;
    left: 70%;
}
.video .play {
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    font-size: 80px;
    transition: 1s;
}
.play:hover {
    font-size: 90px;
    color: #ff003c;
}
.watch-of-choice {
    display: flex;
    padding-top: 200px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 150px;
}
.watch-of-choice h2 {
    color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px;

}
.watch-of-choice p {
    font-family: "Roboto",sans-serif;
    color: #777;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}
.footer-top {
background-color: #ff2020;
display: flex;
justify-content: space-between;
margin-top: 200px;
padding: 100px 50px;
align-items: center;
}
.footer-top p {
    color: #d3d1d1;
    font-family: "Roboto",sans-serif;
    
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}
.footer-top i{
    font-size: 40px;
    color: #ffff;
    margin-bottom: 25px;
    display: block;
}
.footer-top h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 12px;
    font-family: "Roboto",sans-serif;
}
.footer-top article {
    width: calc (100% / 3 - 10px);
    height: 100px;
    color: white;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.footer-nav h3 {
    color: #000;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Roboto",sans-serif;
}
.footer-nav ul li {
    
    margin-bottom: 15px;
}
.footer-nav ul li a {
    color: #868c98;
    font-weight: 300;
    transition: 0.5s;
}
.footer-nav ul li a:hover {
    color: #ff2020;
    padding-left: 5px;
}
.footer-logo img {
    margin-bottom: 40px;
}
.footer-logo p {
    color: #868c98;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 150px;
}
.footer-bottom ul {
display: flex;
flex-direction: row;
column-gap: 20px;
}
.footer-bottom p{
    color: #868c98 
}
.footer-bottom p i {
    color: #ff2020;
}
.footer-bottom p a {
    color:#ff2020;
}
.footer-bottom ul li a:hover {
color: #ff2020;
}








@media screen and (max-width: 1200px) {
    .banner-text h1 {
        font-size: 60px;
    }
    header{
        padding: 20px 0px;
        position: relative;
    }
    header .head-inner {
        width: 90%;
    }
header nav{
    display: none;
    width: 95%;
    position: absolute;
    top: 100%;
    background-color: white;
    left: 30px;
padding: 16px 20px;
z-index: 100;

}
header nav.visible {
   display: block; 
}
header .navbar{
    flex-direction: column;
}
header .navbar .status {
    display: none;
}
header .navbar > li {
    padding: 10px 0px;
}
header .navbar .sub-li:hover .dropdown {
    display: flex;
}
header .navbar .sub-li::after { 
    content: "+";
    position: absolute;
    right: 20px;
    top: 10px;
}
header .navbar .sub-li:hover::after {
    content: "-";
}

header .navbar .dropdown {
    position: relative;
    visibility: visible;
    display: none;
    border: none;
padding-bottom: 0px;
}
header .navbar .dropdown::before {
    display: none;
}
header .header-right .hamburger {
    display: inline-block;
    font-size: 24px;
    color: var(--red-500);
}
}
@media screen and (max-width:700px) {
    #banner {
        width: 100%;
    }
    .banner-text h1 {
        font-size: 35px;
    }
}
@media screen and (max-width:576px) {
    #banner {
        min-height: 30vh;
    }
    header .header-right .icons {
        transform: translateY(70px) translateX(70px);
    }
    .banner-row img {
        display: none;
    }
    .banner-text h1 {
        font-size: 33px;
    }
}
